<div class="container range__content">
    <div class="range">
        <a href="#" class="range__link"><div class="range__text">hOT dEAL<br><span>FOR MEN</span></div><img src="img/offer1.jpg" alt="offer1">
        </a>
    </div>
    <div class="range">
        <a href="#" class="range__link"><div class="range__text">LUXIROUS &amp; trendy<br><span>ACCESORIES</span></div><img src="img/offer2.jpg" alt="offer2"></a>
    </div>
    <div class="range">
        <a href="#" class="range__link"><div class="range__text">30% offer<br><span>women</span></div><img src="img/offer3.jpg" alt="offer3"></a>
    </div>
    <div class="range">
        <a href="#" class="range__link"><div class="range__text">new arrivals <br><span>FOR kids</span></div><img src="img/offer4.jpg" alt="offer4"></a>
    </div>
</div>