<div class="container only_offer">
    <div class="offer__banner">
        <h2 class="offer_h2">30% <span>OFFER</span></h2>
        <p>FOR WOMEN</p>
    </div>
    <div class="offer__content">
        <div class="offer__details offer__details1">
            <h3>Free Delivery</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="offer__details">
            <h3>Sales &amp; discounts</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="offer__details">
            <h3>Quality assurance</h3>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
    </div>
</div>