<div class="topBanner">
    <div class="container">
        <div class="topBanner__content">
            <div class="redLine"></div>
            <div class="topBanner__text">
                <?php echo $h1_head ?>
                <h2>OF LUXERIOUS <span>FASHION</span></h2>
            </div>
        </div>
    </div>
</div>