<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   {% if one_picture %} 
        <div class="picture">{% include "picture.twig" %}</div>
   {% else %} 
        <div id="galery">{% include 'galery.twig' %}</div>
   {% endif %} 


</body>
</html>